---
layout      : "docs"
title       : "Circle"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingCircles">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Settings">Settings</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Circles
=========================================== -->
<h3 id="AddingCircles" class="ui header">Adding circles</h3>
<p>
  Every circle must be assigned an id when it is added to the map.
  If an id is not specified, gmaps will autogenerate one for you.
  All default <a href="#Settings">settings</a> can be overwritten by passing in an object.
</p>
<p>
  <b>Center</b> and <b>radius</b> are required.
</p>
<%= code_segment "myMap.<bl>add</bl>(<s>circle</s>, {\n" +
  "  id: <s>myCircle</s>,\n" +
  "  center: {\n" + 
  "    lat: <o>38.889480</o>,\n" + 
  "    lng: <o>-77.035900</o>\n" + 
  "  },\n" +
  "  radius: <o>80</o>\n" +
  "})"
%>

<p>To add multiple circles at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>circles</s>, [\n" +
  "  {\n" +
  "    id: <o>1</o>,\n" +
  "    center: {\n" + 
  "      lat: <o>38.889480</o>,\n" + 
  "      lng: <o>-77.035900</o>\n" + 
  "    },\n" +
  "    radius: <o>80</o>\n" +
  "  },\n" +
  "  {\n" +
  "    id: <o>2</o>,\n" +
  "    center: {\n" + 
  "      lat: <o>38.889480</o>,\n" + 
  "      lng: <o>-77.034600</o>\n" + 
  "    },\n" +
  "    radius: <o>80</o>\n" +
  "  }\n" +
  "])"
%>


<!-- Setting Options
=========================================== -->
<h3 id="SettingOptions" class="ui header">Setting options</h3>
<p>
  To set options after initialization, specify the option and value.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>circles</bl>().<bl>setOptions</bl>(<s>fillColor</s>, <s>#FF0000</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>circles</bl>().<bl>setOptions</bl>({\n" +
  "  fillColor: <s>#FF0000</s>,\n" +
  "  fillOpacity: <o>1</o>\n" +
  "})"
%>


<!-- Getting Options
=========================================== -->
<h3 id="GettingOptions" class="ui header">Getting options</h3>
<p>
  To get the value of a specifc option, pass in the option name.
  If you do not supply an option name, all the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>circles</bl>().<bl>getOptions</bl>(<s>fillColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>circles</bl>().<bl>getOptions</bl>()"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the circle.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>circles</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my circle!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>circles</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>circles</bl>().<bl>off</bl>(<s>center changed</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>circles</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>center_changed</td>
      <td>center changed</td>
      <td>This event is fired when the circle's center is changed.</td>
    </tr>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the circle.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the circle. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the circle.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the circle.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the circle.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the circle. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the circle.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the circle.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the circle.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the circle. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>radius_changed</td>
      <td>radius changed</td>
      <td>This event is fired when the circle's radius is changed.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the circle.</td>
    </tr>
  </tbody>
</table>


<!-- Settings
=========================================== -->
<h3 id="Settings">Settings</h3>
<p>You can set the global defaults at <b>gmap.settings.circleOptions</b>.</p>
<p>
  Only gmaps specifc settings are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#CircleOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Setting</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>center</td>
      <td></td>
      <td>The center of the circle. This can be either a <a href="<%= data.urls.googleDocs %>#LatLng">LatLng</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiteral</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
