---
layout      : "docs"
title       : "Marker"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingMarkers">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Options">Options</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Markers
=========================================== -->
<h3 id="AddingMarkers" class="ui header">Adding markers</h3>
<p>
  To add markers to the map, pass in <b>"marker"</b> and the desired <b>options</b> to the <b>add</b> method.  
  All <a href="<%= data.urls.base %>/docs/map#MarkerOptions">default options</a> can be overwritten by passing in an object.
</p>
<div class="ui info message">
  <b>Id</b> and <b>position</b> are required. If an id is not specified, gmaps will autogenerate one.
</div>
<%= code_segment "myMap.<bl>add</bl>(<s>marker</s>, {\n" +
  "  id: <s>myMarker</s>,\n" +
  "  position: {\n" + 
  "    lat: <o>51.178835</o>,\n" + 
  "    lng: <o>-1.826240</o>\n" + 
  "  }\n" +
  "})"
%>

<p>To add multiple markers at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>markers</s>, [\n" +
  "  {\n" +
  "    id: <s>myMarker</s>,\n" +
  "    position: {\n" + 
  "      lat: <o>51.178835</o>,\n" + 
  "      lng: <o>-1.826240</o>\n" + 
  "    }\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Set Options
=========================================== -->
<h3 id="SetOptions" class="ui header">Set options</h3>
<p>
  To set a marker's options after initialization, specify the <b>option name</b> and <b>value</b>.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>markers</bl>().<bl>setOptions</bl>(<s>draggable</s>, <o>true</o>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>markers</bl>().<bl>setOptions</bl>({\n" +
  "  draggable: <o>true</o>,\n" +
  "  opacity: <o>1</o>\n" +
  "})"
%>


<!-- Get Options
=========================================== -->
<h3 id="GetOptions" class="ui header">Get options</h3>
<p>
  To get the value of a specifc option, pass in the <b>option name</b>.
  If you do not supply an option name, <b>all</b> the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>markers</bl>().<bl>getOptions</bl>(<s>opacity</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>markers</bl>().<bl>getOptions</bl>()"
%>

<p>
  If the <b>getOptions</b> method is called on a MarkerArray containing multiple markers, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>markers</bl>([<s>myMarker</s>, <o>43</o>]).<bl>getOptions</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myMarker</s>: { ... },  <c>An object containing all the marker's options</c>\n" +
  "  <s>43</s>: { ... }\n" +
  "}"
%>


<!-- Get Bounds
=========================================== -->
<h3 id="GetBounds" class="ui header">Get bounds</h3>
<p>
  When the <b>getBounds</b> method is called on a MarkerArray, it will return a <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a> containing all the markers within the array.
</p>
<%= code_segment "<c>get bounds for all markers</c>\n" +
  "myMap.<bl>markers</bl>().<bl>getBounds</bl>()\n\n" +
  "<c>get bounds for single marker</c>\n" +
  "myMap.<bl>markers</bl>(<s>myMarker</s>).<bl>getBounds</bl>()"
%>


<!-- Zoom
=========================================== -->
<h3 id="Zoom" class="ui header">Zoom</h3>
<p>
  The <b>zoom</b> method will calculate the bounds and automatically set the map's viewport to it.
</p>
<%= code_segment "<c>zoom to all markers</c>\n" +
  "myMap.<bl>markers</bl>().<bl>zoom</bl>()\n\n" +
  "<c>zoom to single marker</c>\n" +
  "myMap.<bl>markers</bl>(<s>myMarker</s>).<bl>zoom</bl>()"
%>


<!-- Get Position
=========================================== -->
<h3 id="GetPosition" class="ui header">Get position</h3>
<p>
  The <b>getPosition</b> method will return the marker's <b>position</b> property.
</p>
<%= code_segment "myMap.<bl>markers</bl>().<bl>getPosition</bl>()" %>

<p>
  If the <b>getPosition</b> method is called on a MarkerArray containing multiple markers, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>markers</bl>([<s>myMarker</s>, <o>43</o>]).<bl>getPosition</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myMarker</s>: _.F,  <c>LatLng representing the marker's position</c>\n" +
  "  <s>43</s>: _.F\n" +
  "}"
%>


<!-- Get Position String
=========================================== -->
<h3 id="GetPositionString" class="ui header">Get position string</h3>
<p>
  The <b>getPositionString</b> method works the same as <b>getPosition</b> except the return value is a formatted string based on the map's settings.
</p>
<div class="ui info message">
  By default, strings will be in <b>JSON</b> format.
</div>
<%= code_segment "myMap.<bl>markers</bl>().<bl>getPositionString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>{<s>lat</s>:51.178835,<s>lng</s>:-1.826240}</s>"
%>

<p>
  If the map's <b>delimitedStrings</b> setting is true, strings will be formatted using the map's <b>delimiter</b> settings.
</p>
<p>
  The <a href="<%= data.urls.base %>/docs/map#Delimiter">default options</a> are set at <b>gmap.settings.delimiter</b>.
</p>
<%= code_segment "myMap.settings.delimitedStrings = <o>true</o>\n" +
  "myMap.<bl>markers</bl>().<bl>getPositionString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>51.178835,-1.826240</s>"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods"">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>getPosition()</td>
      <td>Returns the <a href="<%= data.urls.googleDocs %>/#LatLng">LatLng</a> for the marker's position.</td>
    </tr>
    <tr>
      <td>getPositionString()</td>
      <td>Returns the marker's position in a formatted string. If the <b>delimitedStrings</b> setting is false, it will return a string in JSON format; otherwise it will return a delimited string.</td>
    </tr>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the marker.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>markers</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my marker!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>markers</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>markers</bl>().<bl>off</bl>(<s>center changed</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>markers</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>animation_changed</td>
      <td>animation changed</td>
      <td>This event is fired when the marker's animation property changes.</td>
    </tr>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the marker.</td>
    </tr>
    <tr>
      <td>clickable_changed</td>
      <td>clickable changed</td>
      <td>This event is fired when the marker's clickable property changes.</td>
    </tr>
    <tr>
      <td>cursor_changed</td>
      <td>cursor changed</td>
      <td>This event is fired when the marker's cursor property changes.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the marker. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the marker.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the marker.</td>
    </tr>
    <tr>
      <td>draggable_changed</td>
      <td>draggable changed</td>
      <td>This event is fired when the marker's draggable property changes.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the marker.</td>
    </tr>
    <tr>
      <td>flat_changed</td>
      <td>flat changed</td>
      <td>This event is fired when the marker's flat property changes.</td>
    </tr>
    <tr>
      <td>icon_changed</td>
      <td>icon changed</td>
      <td>This event is fired when the marker's icon property changes.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the marker. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the marker.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the marker.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the marker.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the marker. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>position_changed</td>
      <td>position changed</td>
      <td>This event is fired when the marker's position property changes.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the marker.</td>
    </tr>
    <tr>
      <td>shape_changed</td>
      <td>shape changed</td>
      <td>This event is fired when the marker's shape property changes.</td>
    </tr>
    <tr>
      <td>title_changed</td>
      <td>title changed</td>
      <td>This event is fired when the marker's title property changes.</td>
    </tr>
    <tr>
      <td>visible_changed</td>
      <td>visible changed</td>
      <td>This event is fired when the marker's visible property changes.</td>
    </tr>
    <tr>
      <td>zindex_changed</td>
      <td>zindex changed</td>
      <td>This event is fired when the marker's zIndex property changes.</td>
    </tr>
  </tbody>
</table>


<!-- Options
=========================================== -->
<h3 id="Options">Options</h3>
<p>
  The <a href="<%= data.urls.base %>/docs/map#MarkerOptions">default options</a> are set at <b>gmap.settings.markerOptions</b>.
</p>
<p>
  Only gmaps specifc options are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#MarkerOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Option</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>position</td>
      <td></td>
      <td>The position of the marker. This can be either a <a href="<%= data.urls.googleDocs %>#LatLng">LatLng</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiteral</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
