---
layout      : "docs"
title       : "Polygon"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingPolygons">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Options">Options</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Polygons
=========================================== -->
<h3 id="AddingPolygons" class="ui header">Adding polygons</h3>
<p>
  To add polygons to the map, pass in <b>"polygon"</b> and the desired <b>options</b> to the <b>add</b> method.  
  All <a href="<%= data.urls.base %>/docs/map#PolygonOptions">default options</a> can be overwritten by passing in an object.
</p>
<div class="ui info message">
  <b>Id</b> and <b>paths</b> are required. If an id is not specified, gmaps will autogenerate one.
</div>
<%= code_segment "myMap.<bl>add</bl>(<s>polygon</s>, {\n" +
  "  id: <s>myPolygon</s>,\n" +
  "  paths: [\n" + 
  "    { lat: <o>25.774</o>, lng: <o>-80.190</o> },\n" +
  "    { lat: <o>18.466</o>, lng: <o>-66.118</o> },\n" +
  "    { lat: <o>32.321</o>, lng: <o>-64.757</o> }\n" +
  "  ]\n" +
  "})"
%>

<p>To add multiple polygons at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>polygons</s>, [\n" +
  "  {\n" +
  "    id: <o><s>myPolygon</s></o>,\n" +  
  "    paths: [\n" + 
  "      { lat: <o>25.774</o>, lng: <o>-80.190</o> },\n" +
  "      { lat: <o>18.466</o>, lng: <o>-66.118</o> },\n" +
  "      { lat: <o>32.321</o>, lng: <o>-64.757</o> }\n" +
  "    ]\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Set Options
=========================================== -->
<h3 id="SetOptions" class="ui header">Set options</h3>
<p>
  To set a polygon's options after initialization, specify the <b>option name</b> and <b>value</b>.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>setOptions</bl>(<s>fillColor</s>, <s>#FF0000</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>setOptions</bl>({\n" +
  "  fillColor: <s>#FF0000</s>,\n" +
  "  fillOpacity: <o>1</o>\n" +
  "})"
%>


<!-- Get Options
=========================================== -->
<h3 id="GetOptions" class="ui header">Get options</h3>
<p>
  To get the value of a specifc option, pass in the <b>option name</b>.
  If you do not supply an option name, <b>all</b> the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>getOptions</bl>(<s>fillColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>getOptions</bl>()"
%>

<p>
  If the <b>getOptions</b> method is called on a PolygonArray containing multiple polygons, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>polygons</bl>([<s>myPolygon</s>, <o>43</o>]).<bl>getOptions</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myPolygon</s>: { ... },  <c>An object containing all the polygon's options</c>\n" +
  "  <s>43</s>: { ... }\n" +
  "}"
%>


<!-- Get Bounds
=========================================== -->
<h3 id="GetBounds" class="ui header">Get bounds</h3>
<p>
  When the <b>getBounds</b> method is called on a PolygonArray, it will return a <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a> containing all the polygons within the array.
</p>
<%= code_segment "<c>get bounds for all polygons</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>getBounds</bl>()\n\n" +
  "<c>get bounds for single polygon</c>\n" +
  "myMap.<bl>polygons</bl>(<s>myPolygon</s>).<bl>getBounds</bl>()"
%>


<!-- Zoom
=========================================== -->
<h3 id="Zoom" class="ui header">Zoom</h3>
<p>
  The <b>zoom</b> method will calculate the bounds and automatically set the map's viewport to it.
</p>
<%= code_segment "<c>zoom to all polygons</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>zoom</bl>()\n\n" +
  "<c>zoom to single polygon</c>\n" +
  "myMap.<bl>polygons</bl>(<s>myPolygon</s>).<bl>zoom</bl>()"
%>


<!-- Get Path
=========================================== -->
<h3 id="GetPath" class="ui header">Get path</h3>
<p>
  The <b>getPath</b> method will return the polygon's <b>paths</b> property.
  To get a specific path, pass in the <b>index</b> as a parameter.
</p>
<%= code_segment "myMap.<bl>polygons</bl>().<bl>getPath</bl>()\n\n" +
  "<c>get only the first path</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>getPath</bl>(<o>0</o>)"
%>

<p>
  If the <b>getPath</b> method is called on a PolygonArray containing multiple polygons, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>polygons</bl>([<s>myPolygon</s>, <o>43</o>]).<bl>getPath</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myPolygon</s>: _.gd,  <c>MVCArray representing the polygon's path</c>\n" +
  "  <s>43</s>: _.gd\n" +
  "}"
%>


<!-- Get Path String
=========================================== -->
<h3 id="GetPath" class="ui header">Get path string</h3>
<p>
  The <b>getPathString</b> method works the same as <b>getPath</b> except the return value is a formatted string based on the map's settings.
</p>
<div class="ui info message">
  By default, strings will be in <b>JSON</b> format.
</div>
<%= code_segment "myMap.<bl>polygons</bl>().<bl>getPathString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>[[{<s>lat</s>:25.774,<s>lng</s>:-80.190},{<s>lat</s>:18.466,<s>lng</s>:-66.118}, ...</s>"
%>

<p>
  If the map's <b>delimitedStrings</b> setting is true, strings will be formatted using the map's <b>delimiter</b> settings.
</p>
<p>
  The <a href="<%= data.urls.base %>/docs/map#Delimiter">default options</a> are set at <b>gmap.settings.delimiter</b>.
</p>
<%= code_segment "myMap.settings.delimitedStrings = <o>true</o>\n" +
  "myMap.<bl>polygons</bl>().<bl>getPathString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>25.774,-80.190|18.466,-66.118| ...</s>"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods"">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>getPath(index)</td>
      <td>Returns the polygon's paths. You can optionally supply an index to specify which path.</td>
    </tr>
    <tr>
      <td>getPathString(index)</td>
      <td>Returns the polygon's paths in a formatted string. If the <b>delimitedStrings</b> setting is false, it will return a string in JSON format; otherwise it will return a delimited string. You can optinally supply an index to specify which path.</td>
    </tr>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the polygon.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my polygon!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>off</bl>(<s>double click</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>polygons</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the polygon.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the polygon. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the polygon.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the polygon.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the polygon.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the polygon. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the polygon.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the polygon.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the polygon.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the polygon. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the polygon.</td>
    </tr>
  </tbody>
</table>


<!-- Options
=========================================== -->
<h3 id="Options">Options</h3>
<p>
  The <a href="<%= data.urls.base %>/docs/map#PolygonOptions">default options</a> are set at <b>gmap.settings.polygonOptions</b>.
</p>
<p>
  Only gmaps specifc options are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#PolygonOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Option</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>paths</td>
      <td></td>
      <td>The paths of the polygon. This can be either an array of <a href="<%= data.urls.googleDocs %>#LatLng">LatLngs</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiterals</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
