---
layout      : "docs"
title       : "Polyline"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingPolylines">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Settings">Settings</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Polylines
=========================================== -->
<h3 id="AddingPolylines" class="ui header">Adding polylines</h3>
<p>
  Every polyline must be assigned an id when it is added to the map.
  If an id is not specified, gmaps will autogenerate one for you.
  All default <a href="#Settings">settings</a> can be overwritten by passing in an object.
</p>
  <b>Path</b> is required.
</p>
<%= code_segment "myMap.<bl>add</bl>(<s>polyline</s>, {\n" +
  "  id: <s>myPolyline</s>,\n" +
  "  path: [\n" + 
  "    { lat: <o>26.141478</o>, lng: <o>32.669904</o> },\n" +
  "    { lat: <o>48.892570</o>, lng: <o>2.235883</o> }\n" +
  "  ]\n" +
  "})"
%>

<p>To add multiple polylines at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>polylines</s>, [\n" +
  "  {\n" +
  "    id: <o><s>myPolyline</s></o>,\n" +  
  "    path: [\n" + 
  "      { lat: <o>26.141478</o>, lng: <o>32.669904</o> },\n" +
  "      { lat: <o>48.892570</o>, lng: <o>2.235883</o> }\n" +
  "    ]\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Setting Options
=========================================== -->
<h3 id="SettingOptions" class="ui header">Setting options</h3>
<p>
  To set options after initialization, specify the option and value.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>setOptions</bl>(<s>strokeColor</s>, <s>#FFF</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>setOptions</bl>({\n" +
  "  strokeColor: <s>#FFF</s>,\n" +
  "  strokeOpacity: <o>1</o>\n" +
  "})"
%>


<!-- Getting Options
=========================================== -->
<h3 id="GettingOptions" class="ui header">Getting options</h3>
<p>
  To get the value of a specifc option, pass in the option name.
  If you do not supply an option name, all the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>getOptions</bl>(<s>strokeColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>getOptions</bl>()"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods"">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>getPath()</td>
      <td>Returns the polyline's path.</td>
    </tr>
    <tr>
      <td>getPathString()</td>
      <td>Returns the polyline's path in a formatted string. If the <b>delimitedStrings</b> setting is false, it will return a string in JSON format; otherwise it will return a delimited string.</td>
    </tr>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the polyline.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my polyline!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>off</bl>(<s>double click</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the polyline.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the polyline. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the polyline.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the polyline.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the polyline.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the polyline. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the polyline.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the polyline.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the polyline.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the polyline. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the polyline.</td>
    </tr>
  </tbody>
</table>


<!-- Settings
=========================================== -->
<h3 id="Settings">Settings</h3>
<p>You can set the global defaults at <b>gmap.settings.polylineOptions</b>.</p>
<p>
  Only gmaps specifc settings are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#PolylineOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Setting</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>path</td>
      <td></td>
      <td>The path of the polyline. This can be either an array of <a href="<%= data.urls.googleDocs %>#LatLng">LatLngs</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiterals</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
