---
layout      : "docs"
title       : "Polyline"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingPolylines">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Options">Options</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Polylines
=========================================== -->
<h3 id="AddingPolylines" class="ui header">Adding polylines</h3>
<p>
  To add polylines to the map, pass in <b>"polyline"</b> and the desired <b>options</b> to the <b>add</b> method.  
  All <a href="<%= data.urls.base %>/docs/map#PolylineOptions">default options</a> can be overwritten by passing in an object.
</p>
<div class="ui info message">
  <b>Id</b> and <b>path</b> are required. If an id is not specified, gmaps will autogenerate one.
</div>
<%= code_segment "myMap.<bl>add</bl>(<s>polyline</s>, {\n" +
  "  id: <s>myPolyline</s>,\n" +
  "  path: [\n" + 
  "    { lat: <o>26.141478</o>, lng: <o>32.669904</o> },\n" +
  "    { lat: <o>48.892570</o>, lng: <o>2.235883</o> }\n" +
  "  ]\n" +
  "})"
%>

<p>To add multiple polylines at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>polylines</s>, [\n" +
  "  {\n" +
  "    id: <o><s>myPolyline</s></o>,\n" +  
  "    path: [\n" + 
  "      { lat: <o>26.141478</o>, lng: <o>32.669904</o> },\n" +
  "      { lat: <o>48.892570</o>, lng: <o>2.235883</o> }\n" +
  "    ]\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Set Options
=========================================== -->
<h3 id="SetOptions" class="ui header">Set options</h3>
<p>
  To set a polyline's options after initialization, specify the <b>option name</b> and <b>value</b>.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>setOptions</bl>(<s>strokeColor</s>, <s>#FFF</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>setOptions</bl>({\n" +
  "  strokeColor: <s>#FFF</s>,\n" +
  "  strokeOpacity: <o>1</o>\n" +
  "})"
%>


<!-- Get Options
=========================================== -->
<h3 id="GetOptions" class="ui header">Get options</h3>
<p>
  To get the value of a specifc option, pass in the <b>option name</b>.
  If you do not supply an option name, <b>all</b> the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>getOptions</bl>(<s>strokeColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>getOptions</bl>()"
%>

<p>
  If the <b>getOptions</b> method is called on a PolylineArray containing multiple polylines, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>polylines</bl>([<s>myPolyline</s>, <o>43</o>]).<bl>getOptions</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myPolyline</s>: { ... },  <c>An object containing all the polyline's options</c>\n" +
  "  <s>43</s>: { ... }\n" +
  "}"
%>


<!-- Get Bounds
=========================================== -->
<h3 id="GetBounds" class="ui header">Get bounds</h3>
<p>
  When the <b>getBounds</b> method is called on a PolylineArray, it will return a <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a> containing all the polylines within the array.
</p>
<%= code_segment "<c>get bounds for all polylines</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>getBounds</bl>()\n\n" +
  "<c>get bounds for single polyline</c>\n" +
  "myMap.<bl>polylines</bl>(<s>myPolyline</s>).<bl>getBounds</bl>()"
%>


<!-- Zoom
=========================================== -->
<h3 id="Zoom" class="ui header">Zoom</h3>
<p>
  The <b>zoom</b> method will calculate the bounds and automatically set the map's viewport to it.
</p>
<%= code_segment "<c>zoom to all polylines</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>zoom</bl>()\n\n" +
  "<c>zoom to single polyline</c>\n" +
  "myMap.<bl>polylines</bl>(<s>myPolyline</s>).<bl>zoom</bl>()"
%>


<!-- Get Path
=========================================== -->
<h3 id="GetPath" class="ui header">Get path</h3>
<p>
  The <b>getPath</b> method will return the polyline's <b>path</b> property.
</p>
<%= code_segment "myMap.<bl>polylines</bl>().<bl>getPath</bl>()" %>

<p>
  If the <b>getPath</b> method is called on a PolylineArray containing multiple polylines, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>polylines</bl>([<s>myPolyline</s>, <o>43</o>]).<bl>getPath</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myPolyline</s>: _.gd,  <c>MVCArray representing the polyline's path</c>\n" +
  "  <s>43</s>: _.gd\n" +
  "}"
%>


<!-- Get Path String
=========================================== -->
<h3 id="GetPath" class="ui header">Get path string</h3>
<p>
  The <b>getPathString</b> method works the same as <b>getPath</b> except the return value is a formatted string based on the map's settings. 
</p>
<div class="ui info message">
  By default, strings will be in <b>JSON</b> format.
</div>
<%= code_segment "myMap.<bl>polylines</bl>().<bl>getPathString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>[{<s>lat</s>:26.14148,<s>lng</s>:32.6699},{<s>lat</s>:48.89257,<s>lng</s>:2.23588}]</s>"
%>

<p>
  If the map's <b>delimitedStrings</b> setting is true, strings will be formatted using the map's <b>delimiter</b> settings.
</p>
<p>
  The <a href="<%= data.urls.base %>/docs/map#Delimiter">default options</a> are set at <b>gmap.settings.delimiter</b>.
</p>
<%= code_segment "myMap.settings.delimitedStrings = <o>true</o>\n" +
  "myMap.<bl>polylines</bl>().<bl>getPathString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>26.14148,32.6699|48.89257,2.23588</s>"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods"">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>getPath()</td>
      <td>Returns the polyline's path.</td>
    </tr>
    <tr>
      <td>getPathString()</td>
      <td>Returns the polyline's path in a formatted string. If the <b>delimitedStrings</b> setting is false, it will return a string in JSON format; otherwise it will return a delimited string.</td>
    </tr>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the polyline.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my polyline!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>off</bl>(<s>double click</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>polylines</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the polyline.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the polyline. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the polyline.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the polyline.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the polyline.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the polyline. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the polyline.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the polyline.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the polyline.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the polyline. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the polyline.</td>
    </tr>
  </tbody>
</table>


<!-- Options
=========================================== -->
<h3 id="Options">Options</h3>
<p>
  The <a href="<%= data.urls.base %>/docs/map#PolylineOptions">default options</a> are set at <b>gmap.settings.polylineOptions</b>.
</p>
<p>
  Only gmaps specifc options are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#PolylineOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Option</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>path</td>
      <td></td>
      <td>The path of the polyline. This can be either an array of <a href="<%= data.urls.googleDocs %>#LatLng">LatLngs</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiterals</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
