---
layout      : "docs"
title       : "Rectangle"
group       : "Components"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">This class extends <a href="<%= data.urls.base %>/docs/components/overview#BaseComponent">Base Component</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingRectangles">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Settings">Settings</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Rectangles
=========================================== -->
<h3 id="AddingRectangles" class="ui header">Adding rectangles</h3>
<p>
  Every rectangle must be assigned an id when it is added to the map.
  If an id is not specified, gmaps will autogenerate one for you.
  All default <a href="#Settings">settings</a> can be overwritten by passing in an object.
</p>
  <b>Bounds</b> is required.
</p>
<%= code_segment "myMap.<bl>add</bl>(<s>rectangle</s>, {\n" +
  "  id: <s>myRectangle</s>,\n" +
  "  bounds: {\n" + 
  "    north: <o>29.98013</o>,\n" +
  "    south: <o>29.97818</o>,\n" +
  "    east: <o>31.13538</o>,\n" +
  "    west: <o>31.13301</o>\n" +
  "  }\n" +
  "})"
%>

<p>To add multiple rectangles at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>rectangles</s>, [\n" +
  "  {\n" +
  "    id: <s>myRectangle</s>,\n" +
  "    bounds: {\n" + 
  "      north: <o>29.98013</o>,\n" +
  "      south: <o>29.97818</o>,\n" +
  "      east: <o>31.13538</o>,\n" +
  "      west: <o>31.13301</o>\n" +
  "    }\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Set Options
=========================================== -->
<h3 id="SetOptions" class="ui header">Set options</h3>
<p>
  To set options after initialization, specify the option and value.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>setOptions</bl>(<s>fillColor</s>, <s>#FF0000</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>setOptions</bl>({\n" +
  "  fillColor: <s>#FF0000</s>,\n" +
  "  fillOpacity: <o>1</o>\n" +
  "})"
%>


<!-- Get Options
=========================================== -->
<h3 id="GetOptions" class="ui header">Get options</h3>
<p>
  To get the value of a specifc option, pass in the option name.
  If you do not supply an option name, all the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>getOptions</bl>(<s>fillColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>getOptions</bl>()"
%>

<p>
  If the <b>getOptions</b> method is called on a RectangleArray containing multiple rectangles, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>rectangles</bl>([<s>myRectangle</s>, <o>43</o>]).<bl>getOptions</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myRectangle</s>: { ... },  <c>An object containing all the rectangle's options</c>\n" +
  "  <s>43</s>: { ... }\n" +
  "}"
%>


<!-- Get Bounds
=========================================== -->
<h3 id="GetBounds" class="ui header">Get bounds</h3>
<p>
  When the <b>getBounds</b> method is called on a RectangleArray, it will return a <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a> containing all the rectangles within the array.
</p>
<%= code_segment "<c>get bounds for all rectangles</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>getBounds</bl>()\n\n" +
  "<c>get bounds for single rectangle</c>\n" +
  "myMap.<bl>rectangles</bl>(<s>myRectangle</s>).<bl>getBounds</bl>()"
%>


<!-- Zoom
=========================================== -->
<h3 id="Zoom" class="ui header">Zoom</h3>
<p>
  The <b>zoom</b> method will calculate the bounds and automatically set the map's viewport to it.
</p>
<%= code_segment "<c>zoom to all rectangles</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>zoom</bl>()\n\n" +
  "<c>zoom to single rectangle</c>\n" +
  "myMap.<bl>rectangles</bl>(<s>myRectangle</s>).<bl>zoom</bl>()"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/components/overview#BaseComponentMethods"">Base Component</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>off(type)</td>
      <td>Removes all the event listeners for the specified type. You can also pass in <b>all</b> to remove all event listeners.</td>
    </tr>
    <tr>
      <td>on(type, function)</td>
      <td>Adds the specified event listener to the rectangle.</td>
    </tr>
    <tr>
      <td>trigger(type)</td>
      <td>Triggers the specified event type.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Gmaps simplifies working with events by prodiving an API similar to jQuery.
  It also uses an internal lookup table to allow for more readable event names.
</p>
<%= code_segment "<c>add event</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>on</bl>(<s>click</s>, <p>function</p>() {\n" +
  "  console.<bl>log</bl>(<s>You clicked my rectangle!</s>)\n" +
  "})\n\n" +
  "<c>trigger event</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>trigger</bl>(<s>click</s>)\n\n" +
  "<c>remove all events by type</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>off</bl>(<s>double click</s>)\n\n" +
  "<c>remove all events</c>\n" +
  "myMap.<bl>rectangles</bl>().<bl>off</bl>(<s>all</s>)"
%>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Event</th>
      <th class="three wide column">Alias</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bounds_changed</td>
      <td>bounds changed</td>
      <td>This event is fired when the rectangle's bounds are changed.</td>
    </tr>
    <tr>
      <td>click</td>
      <td>click</td>
      <td>This event is fired when the user clicks on the rectangle.</td>
    </tr>
    <tr>
      <td>dblclick</td>
      <td>double click</td>
      <td>This event is fired when the user double-clicks on the rectangle. Note that the click event will also fire, right before this one.</td>
    </tr>
    <tr>
      <td>drag</td>
      <td>drag</td>
      <td>This event is repeatedly fired while the user drags the rectangle.</td>
    </tr>
    <tr>
      <td>dragend</td>
      <td>drag end</td>
      <td>This event is fired when the user stops dragging the rectangle.</td>
    </tr>
    <tr>
      <td>dragstart</td>
      <td>drag start</td>
      <td>This event is fired when the user starts dragging the rectangle.</td>
    </tr>
    <tr>
      <td>mousedown</td>
      <td>mouse down</td>
      <td>This event is fired whenever the user's mouse is pressed down over the rectangle. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>mousemove</td>
      <td>mouse move</td>
      <td>This event is fired whenever the user's mouse moves over the rectangle.</td>
    </tr>
    <tr>
      <td>mouseout</td>
      <td>mouse out</td>
      <td>This event is fired when the user's mouse exits the rectangle.</td>
    </tr>
    <tr>
      <td>mouseover</td>
      <td>mouse over</td>
      <td>This event is fired when the user's mouse enters the rectangle.</td>
    </tr>
    <tr>
      <td>mouseup</td>
      <td>mouse up</td>
      <td>This event is fired when the user's mouse is released over the rectangle. This will fire before the click event.</td>
    </tr>
    <tr>
      <td>rightclick</td>
      <td>right click</td>
      <td>This event is fired when the user right clicks the rectangle.</td>
    </tr>
  </tbody>
</table>


<!-- Settings
=========================================== -->
<h3 id="Settings">Settings</h3>
<p>You can set the global defaults at <b>gmap.settings.rectangleOptions</b>.</p>
<p>
  Only gmaps specifc settings are listed below.
  Refer to <a href="<%= data.urls.googleDocs %>#RectangleOptions">Google's documentation</a> for a full list of available options.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Setting</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bounds</td>
      <td></td>
      <td>The bounds of the rectangle. This can be either a of <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a>, <a href="<%= data.urls.googleDocs %>#LatLngBoundsLiteral">LatLngBoundsLiterals</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
  </tbody>
</table>
