<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gmaps &middot; <%= current_page.data.title %></title>
    <meta name="author" content="<%= data.global.author %>">
    <meta name="description" content="A JavaScript library that enables the rapid development of robust Google Maps web applications by providing extended functionality with a more streamlined API.">

    <link type="text/css" rel="stylesheet" href="<%= data.urls.base %>/vendor/semantic/semantic.min.css<%= data.qs.semantic %>" />
    <link type="text/css" rel="stylesheet" href="<%= data.urls.base %>/vendor/semantic/css-util.min.css<%= data.qs.cssUtil %>" />
    <link type="text/css" rel="stylesheet" href="<%= data.urls.base %>/css/home.css<%= data.qs.home %>" />
  </head>
  <body>
        
    <!-- Header
    =========================================== -->
    <div id="header">
      <div class="header__container">
        <a id="version" class="version ui basic label m-0" href="<%= data.urls.github %>"></a>
        <h1 class="header__title mt-0 mb-2">gmaps.js</h1>
        <h2 class="header__slogan mt-0 mb-4">The way maps were meant to be made</h2>

        <a href="<%= data.urls.base %>/docs/getting-started/introduction/" class="ui huge primary button">Explore Docs</a>
      </div>
    </div>
    <div class="triangle triangle--down"></div>


    <div id="examples" class="stackable very relaxed ui grid container my-8">
      
      <!-- Simplified API
      ========================================= -->
      <div id="example1" class="two column row">
        <div class="column">
          <h2 class="ui header">Simplified API</h2>
          <p>
            With gmaps, you can add one or several overlays with a single method.
            Removing overlays is even easier!
          </p>

          <%= btnRunCode "1", "add" %>
          <%= code_segment "<c>add single marker</c>\n" +
            "myMap.<bl>add</bl>(<s>marker</s>, {\n" +
            "  id: <s>Bondi Beach</s>,\n" +
            "  position: { lat: <o>-33.89</o>, lng: <o>151.27</o> }\n" +
            "})\n\n" +
            "<c>add multiple markers</c>\n" +
            "myMap.<bl>add</bl>(<s>markers</s>, [\n" +
            "  { id: <s>Bondi Beach</s>,    position: { lat: <o>-33.89</o>, lng: <o>151.27</o> } },\n" +
            "  { id: <s>Coogee Beach</s>,   position: { lat: <o>-33.92</o>, lng: <o>151.25</o> } },\n" +
            "  { id: <s>Cronulla Beach</s>, position: { lat: <o>-34.02</o>, lng: <o>151.15</o> } },\n" +
            "  { id: <s>Manly Beach</s>,    position: { lat: <o>-33.80</o>, lng: <o>151.28</o> } },\n" +
            "  { id: <s>Maroubra Beach</s>, position: { lat: <o>-33.95</o>, lng: <o>151.25</o> } }\n" +
            "])"
          %>

          <%= btnRunCode "1", "remove" %>
          <%= code_segment "myMap.<bl>remove</bl>(<s>markers</s>)" %>
        </div>
        <div class="column">
          <div id="example1_map" class="gmap"></div>
        </div>
      </div>

      <div class="ui divider my-4 mx-2 mx-md-5"></div>

      <!-- Integrated Id System
      ========================================= -->
      <div id="example2" class="two column row">
        <div class="column">
          <h2 class="ui header">Integrated Id System</h2>
          <p>
            Every overlay is assigned an id when it is added to the map.
            You can either manually assign these or let gmaps auto generate them.           
          </p>
          <p>
            This enables methods to be called on all overlays at once, or you can target specific ids.
          </p>

          <%= btnRunCode "2", "all" %>
          <%= code_segment "myMap.<bl>markers</bl>().<bl>toggle</bl>()" %>

          <%= btnRunCode "2", "ids" %>
          <%= code_segment "<c>single id</c>\n" +
            "myMap.<bl>markers</bl>(<s>Bondi Beach</s>).<bl>setOptions</bl>(<s>animation</s>, <o>1</o>)\n\n" +
            "<c>multiple ids</c>\n" +
            "myMap.<bl>markers</bl>([<s>Coogee Beach</s>, <s>Manly Beach</s>]).<bl>toggle</bl>()"
          %>
        </div>
        <div class="column">
          <div id="example2_map" class="gmap"></div>
        </div>
      </div>

      <div class="ui divider my-4 mx-2 mx-md-5"></div>

      <!-- Method Chaining
      ========================================= -->
      <div id="example3" class="two column row">
        <div class="column">
          <h2 class="ui header">Method Chaining</h2>
          <p>
            Gmaps enables certain methods to be chained together allowing for shorter, more readable code. 
          </p>
          <p>
            Combine this with the use of the <b>others</b> method to easily create some powerful interactions.
          </p>

          <%= btnRunCode "3", "zoom" %>
          <%= code_segment "myMap.<bl>polygons</bl>([<o>1</o>, <o>2</o>, <o>3</o>, <o>4</o>, <o>5</o>]).<bl>zoom</bl>()\n" + 
            "  .<bl>others</bl>().<bl>hide</bl>()"
          %>

          <%= btnRunCode "3", "hover" %>
          <%= code_segment "myMap.<bl>polygons</bl>().<bl>on</bl>(<s>mouse over</s>, <p>function</p>() {\n" + 
            "  myMap.<bl>polygons</bl>(<r>this</r>.gmaps.id)\n" +
            "    .<bl>setOptions</bl>(<s>fill opacity</s>, <o>1</o>)\n" +
            "    .<bl>others</bl>().<bl>setOptions</bl>(<s>fill opacity</s>, <o>.25</o>)\n" +
            "})"
          %>
        </div>
        <div class="column">
          <div id="example3_map" class="gmap"></div>
        </div>
      </div>

    </div>


    <!-- Footer
    =========================================== -->
    <div id="footer" class="ui vertical footer segment">
      <div class="footer__container">
        <a href="<%= data.urls.home %>"><img id="logo" src="<%= data.urls.base %>/img/logo.png" class="ui centered tiny image"></a>
        
        <div class="footer__items">
          <a class="footer__item" href="<%= data.urls.author %>">Author</a>
          <a class="footer__item" href="<%= data.urls.base %>/docs/getting-started/introduction/">Docs</a>
          <a class="footer__item" href="<%= data.urls.github %>">GitHub</a>
          <a class="footer__item" href="<%= data.urls.license %>">License</a>
        </div>

        <div id="copyright"><%= data.global.copyright %></div>
      </div>
    </div>


    <!-- Scripts
    =========================================== -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0SLOL7qb7Ch3gVhP0yBCVYCp1_lVwF60"></script>
    <script type="text/javascript" src="<%= data.urls.base %>/vendor/jquery.min.js<%= data.qs.jQuery %>"></script>
    <script type="text/javascript" src="<%= data.urls.base %>/vendor/gmaps.min.js<%= data.qs.gmaps %>"></script>
    <script type="text/javascript" src="<%= data.urls.base %>/js/data.js<%= data.qs.home %>"></script>
    <script type="text/javascript" src="<%= data.urls.base %>/js/home.js<%= data.qs.home %>"></script>

  </body>
</html>
