<div id="sidemenu" class="sidemenu">
  <div class="d-flex py-2 pl-2 pr-1 pr-lg-2">
    <div id="txtSearch_wrapper" class="ui left icon fluid input">
      <input type="text" id="txtSearch"  placeholder="Search..." />
      <i class="search icon"></i>
    </div>
    <i id="btnSidemenu" class="big sidebar icon align-self-center ml-1 mr-0 d-lg-none"></i>
  </div>

  <div class="ui divider my-0"></div>

  <div class="sidemenu__items">         
  <% data.menu.each do |m| %>
    <a class="sidemenu__item sidemenu__item--main <% if current_page.data.title == m.title %>sidemenu__item--active<% end %>" href="<%= data.urls.base %>/docs/<%= m.url %>"><%= m.title %></a>
    <% if m.isGroup %>
      <% m.pages.each do |p| %>
        <a class="sidemenu__item <% if current_page.data.title == p.title %>sidemenu__item--active<% end %> <% if current_page.data.group != m.title %>d-none<% end %>" href="<%= data.urls.base %>/docs/<%= p.url %>"><%= p.title %></a>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>