---
layout      : "docs"
title       : "Label"
group       : "Overlays"
---

<h1 class="mainContent__title mt-0"><%= current_page.data.title %></h1>
<div class="mainContent__intro">A label is a text overlay that is centered on a single point. This class extends <a href="<%= data.urls.base %>/docs/overlays/overview#BaseOverlay">BaseOverlay</a>.</div>

<div class="ui four item stackable menu">
  <a class="item" href="#AddingLabels">Examples</a>
  <a class="item" href="#Methods">Methods</a>
  <a class="item" href="#Events">Events</a>
  <a class="item" href="#Options">Options</a>
</div>

<div class="ui divider my-3"></div>


<!-- Adding Labels
=========================================== -->
<h3 id="AddingLabels" class="ui header">Adding labels</h3>
<p>
  To add labels to the map, pass in <b>"label"</b> and the desired <b>options</b> to the <b>add</b> method.  
  All <a href="<%= data.urls.base %>/docs/map#LabelOptions">default options</a> can be overwritten by passing in an object.
</p>
<div class="ui info message">
  <b>Id</b>, <b>position</b> and <b>text</b> are required. If an id is not specified, gmaps will autogenerate one.
</div>
<%= code_segment "myMap.<bl>add</bl>(<s>label</s>, {\n" +
  "  id: <s>myLabel</s>,\n" +
  "  position: {\n" + 
  "    lat: <o>37.5</o>,\n" + 
  "    lng: <o>-120</o>\n" + 
  "  },\n" +
  "  text: <s>myLabel</s>\n" +
  "})"
%>

<p>To add multiple labels at once, you can pass in an array of options as the second parameter.</p>
<%= code_segment "myMap.<bl>add</bl>(<s>labels</s>, [\n" +
  "  {\n" +
  "    id: <s>myLabel</s>,\n" +
  "    position: {\n" + 
  "      lat: <o>37.5</o>,\n" + 
  "      lng: <o>-120</o>\n" + 
  "    },\n" +
  "    text: <s>myLabel</s>\n" +
  "  },\n" +
  "  ...\n" +
  "])"
%>


<!-- Set Options
=========================================== -->
<h3 id="SetOptions" class="ui header">Set options</h3>
<p>
  To set a label's options after initialization, specify the <b>option name</b> and <b>value</b>.
  You can set multiple options at once by passing in an object as the only parameter.
</p>
<%= code_segment "<c>set single option</c>\n" +
  "myMap.<bl>labels</bl>().<bl>setOptions</bl>(<s>fontColor</s>, <s>#FF0000</s>)\n\n" +
  "<c>set multiple options</c>\n" +
  "myMap.<bl>labels</bl>().<bl>setOptions</bl>({\n" +
  "  fontColor: <s>#FF0000</s>,\n" +
  "  fontSize: <o>16</o>\n" +
  "})"
%>


<!-- Get Options
=========================================== -->
<h3 id="GetOptions" class="ui header">Get options</h3>
<p>
  To get the value of a specifc option, pass in the <b>option name</b>.
  If you do not supply an option name, <b>all</b> the options will be returned in an object.
</p>
<%= code_segment "<c>get single option</c>\n" +
  "myMap.<bl>labels</bl>().<bl>getOptions</bl>(<s>fontColor</s>)\n\n" +
  "<c>get all options</c>\n" +
  "myMap.<bl>labels</bl>().<bl>getOptions</bl>()"
%>

<p>
  If the <b>getOptions</b> method is called on a LabelArray containing multiple labels, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>labels</bl>([<s>myLabel</s>, <o>43</o>]).<bl>getOptions</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myLabel</s>: { ... },  <c>An object containing all the label's options</c>\n" +
  "  <s>43</s>: { ... }\n" +
  "}"
%>


<!-- Get Bounds
=========================================== -->
<h3 id="GetBounds" class="ui header">Get bounds</h3>
<p>
  When the <b>getBounds</b> method is called on a LabelArray, it will return a <a href="<%= data.urls.googleDocs %>#LatLngBounds">LatLngBounds</a> containing all the labels within the array.
</p>
<%= code_segment "<c>get bounds for all labels</c>\n" +
  "myMap.<bl>labels</bl>().<bl>getBounds</bl>()\n\n" +
  "<c>get bounds for single label</c>\n" +
  "myMap.<bl>labels</bl>(<s>myLabel</s>).<bl>getBounds</bl>()"
%>


<!-- Zoom
=========================================== -->
<h3 id="Zoom" class="ui header">Zoom</h3>
<p>
  The <b>zoom</b> method will calculate the bounds and automatically set the map's viewport to it.
</p>
<%= code_segment "<c>zoom to all labels</c>\n" +
  "myMap.<bl>labels</bl>().<bl>zoom</bl>()\n\n" +
  "<c>zoom to single label</c>\n" +
  "myMap.<bl>labels</bl>(<s>myLabel</s>).<bl>zoom</bl>()"
%>


<!-- Get Position
=========================================== -->
<h3 id="GetPosition" class="ui header">Get position</h3>
<p>
  The <b>getPosition</b> method will return the label's <b>position</b> property.
</p>
<%= code_segment "myMap.<bl>labels</bl>().<bl>getPosition</bl>()" %>

<p>
  If the <b>getPosition</b> method is called on a LabelArray containing multiple labels, the return value will be formatted as an object using the <b>ids</b> as the key.
</p>
<%= code_segment "myMap.<bl>labels</bl>([<s>myLabel</s>, <o>43</o>]).<bl>getPosition</bl>()\n\n" +
  "<c>returns</c>\n" +
  "{\n" +
  "  <s>myLabel</s>: _.F,  <c>LatLng representing the label's position</c>\n" +
  "  <s>43</s>: _.F\n" +
  "}"
%>


<!-- Get Position String
=========================================== -->
<h3 id="GetPositionString" class="ui header">Get position string</h3>
<p>
  The <b>getPositionString</b> method works the same as <b>getPosition</b> except the return value is a formatted string based on the map's settings.
</p>
<div class="ui info message">
  By default, strings will be in <b>JSON</b> format.
</div>
<%= code_segment "myMap.<bl>labels</bl>().<bl>getPositionString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>{<s>lat</s>:37.5,<s>lng</s>:-120}</s>"
%>

<p>
  If the map's <b>delimitedStrings</b> setting is true, strings will be formatted using the map's <b>delimiter</b> settings.
</p>
<p>
  The <a href="<%= data.urls.base %>/docs/map#Delimiter">default options</a> are set at <b>gmap.settings.delimiter</b>.
</p>
<%= code_segment "myMap.settings.delimitedStrings = <o>true</o>\n" +
  "myMap.<bl>labels</bl>().<bl>getPositionString</bl>()\n\n" +
  "<c>returns</c>\n" +
  "<s>37.5,-120</s>"
%>


<!-- Methods
=========================================== -->
<h3 id="Methods">Methods</h3>
<p>
  Inherits all the methods from the <a href="<%= data.urls.base %>/docs/overlays/overview#BaseOverlayMethods"">BaseOverlay</a> class.
  Only additional methods are listed below:
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="four wide column">Method</th>
      <th class="twelve wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>getPosition()</td>
      <td>Returns the <a href="<%= data.urls.googleDocs %>/#LatLng">LatLng</a> for the labels's position.</td>
    </tr>
    <tr>
      <td>getPositionString()</td>
      <td>Returns the labels's position in a formatted string. If the <b>delimitedStrings</b> setting is false, it will return a string in JSON format; otherwise it will return a delimited string.</td>
    </tr>
  </tbody>
</table>


<!-- Events
=========================================== -->
<h3 id="Events">Events</h3>
<p>
  Lables are custom overlays that don't exist in native Google Maps. Therefore events are not supported.
</p>


<!-- Settings
=========================================== -->
<h3 id="Options">Options</h3>
<p>
  The <a href="<%= data.urls.base %>/docs/map#LabelOptions">default options</a> are set at <b>gmap.settings.labelOptions</b>.
</p>
<table class="ui celled table">
  <thead>
    <tr>
      <th class="three wide column">Option</th>
      <th class="three wide column">Default</th>
      <th class="ten wide column">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>align</td>
      <td>center</td>
      <td>The horizontal text alignment. Options are <b>left</b>, <b>right</b> or <b>center</b>.</td>
    </tr>
    <tr>
      <td>fontFamily</td>
      <td>sans-serif</td>
      <td>The font family.</td>
    </tr>
    <tr>
      <td>fontSize</td>
      <td>14</td>
      <td>The font size in pixels.</td>
    </tr>
    <tr>
      <td>fontColor</td>
      <td>#000</td>
      <td>The font color. All CSS3 colors are supported.</td>
    </tr>
    <tr>
      <td>maxZoom</td>
      <td></td>
      <td>The maximum zoom level this label should be shown at.</td>
    </tr>
    <tr>
      <td>minZoom</td>
      <td></td>
      <td>The minimum zoom level this label should be shown at.</td>
    </tr>
    <tr>
      <td>position</td>
      <td></td>
      <td>The position of the label. This can be either a <a href="<%= data.urls.googleDocs %>#LatLng">LatLng</a>, <a href="<%= data.urls.googleDocs %>#LatLngLiteral">LatLngLiteral</a> or a formatted string based on the map's <b>delimitedStrings</b> setting.</td>
    </tr>
    <tr>
      <td>strokeColor</td>
      <td>#FFF</td>
      <td>The stroke color. All CSS3 colors are supported.</td>
    </tr>
    <tr>
      <td>strokeWeight</td>
      <td>1</td>
      <td>The stroke width in pixels.</td>
    </tr>
    <tr>
      <td>text</td>
      <td></td>
      <td>The label's text.</td>
    </tr>
    <tr>
      <td>visible</td>
      <td>true</td>
      <td>If the label is visible or not.</td>
    </tr>
    <tr>
      <td>zIndex</td>
      <td></td>
      <td>The zIndex of the label.</td>
    </tr>
  </tbody>
</table>
